body
{
    background-color: rgb(208, 255, 0);
}

h1,h2
{
    color: rgb(194, 6, 6);
    font-family: 'Times New Roman';
}

p
{
    color: rgb(47, 0, 255);
}

p.negrita
{
    font-weight: bold;
    font-size: 20pt;
}

.otraClase
{
    font-style: italic;
}

.boton
{
    color: white;
    background-color: rgb(5, 80, 5);
    width: 120px;
    height: 60px;
    border-radius: 10px;
    margin: 20px;
    padding: 1px;
    cursor: pointer;
    border: none;
}

.boton:hover
{
    background-color: rgb(163, 10, 10);
}

.botonOk
{
    background-color: rgb(5, 80, 5);
}

.botonError
{
    width: 80px;
    height: 50px;
    background-color: rgb(163, 10, 10);
}